<div class='some-container'>
  <ng-template #someMsg [ngIf]="tempRefName==='someMsg'">
    <div class='some-template'>
      <h5>Some template Ref</h5>
      Non sunt aliquip ex officia culpa ex amet est cupidatat exercitation dolor. Cillum sint exercitation pariatur fugiat pariatur eu aliqua cupidatat fugiat. Aute duis ad nostrud sit. Minim aute irure eu minim ipsum. Sint exercitation adipisicing commodo ex. Fugiat irure ut cupidatat laboris duis laboris laborum aliqua mollit exercitation sint aliqua minim. Consequat sunt consectetur voluptate qui sit consectetur reprehenderit elit eiusmod.
    </div>
  </ng-template>
  
  <ng-template #someMsg2 [ngIf]="tempRefName2">
      <div class='some-template'>
        <h5>Some template Ref 2</h5>
        Non sunt aliquip ex officia culpa ex amet est cupidatat exercitation dolor. Cillum sint exercitation pariatur fugiat pariatur eu aliqua cupidatat fugiat.
      </div>
  </ng-template>
</div>
